@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: outfit;
}

body{
  background-color: #000;
}

#Navbar {
  position: fixed;
  background-color: #000;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.3s ease-out;
}